/* Trust
--------------------------------------------*/
.aboutTrust {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.aboutTrust-imgCol,
.aboutTrust-txtCol {
  padding-left: 10%;
  padding-right: 10%;
}
.aboutTrust-img {
  width: 240px;
  margin-bottom: 25px;
}
.aboutTrust-heading {
  text-align: left;
  margin-bottom: 20px;
}
.aboutTrust p {
  text-align: left;
}
@media (min-width: 550px) {
  .aboutTrust-imgCol,
  .aboutTrust-txtCol {
    padding-left: 15%;
    padding-right: 15%;
  }
}
@media (min-width: 768px) {
  .aboutTrust-imgCol,
  .aboutTrust-txtCol {
    padding-left: 20%;
    padding-right: 20%;
  }
}
@media (min-width: 992px) {
  .aboutTrust-imgCol,
  .aboutTrust-txtCol {
    padding-left: 0;
    padding-right: 0;
  }
  .aboutTrust-img {
    width: 300px;
    margin: auto;
  }
}


/* Team & Advisors
--------------------------------------------*/
.aboutExec {
  background: #e4e4e4 url("../img/bg_team.jpg") center center no-repeat;
  background-size: cover;
}
.aboutTeam {
  background: #fff;
}
.aboutAdvisors {
  background: #ececec;
}
.aboutTeam-wrapper {
  max-width: 250px;
  margin: auto;
  margin-bottom: 40px;
  text-align: center;
}
.aboutTeam-photo {
  border-radius: 8px;
  max-width: 180px;
  margin: auto;
  margin-bottom: 10px;
}
.aboutTeam-name {
  color: #000;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 16px;
}
.aboutTeam-role {
  color: #35a283;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
  margin-top: -10px;
  margin-bottom: 10px;
}
.aboutTeam-bio {
  font-size: 14px;
}
.aboutTeam-social {
  font-size: 14px;
  margin-top: -6px;
}
.aboutTeam-social a {
  color: #dc1767;
  text-decoration: none;
}
.aboutTeam-social a:hover {
  color: #35a283;
  text-decoration: underline;
}
@media (min-width: 550px) {
  .aboutTeam-photo {
    max-width: 225px;
    margin-bottom: 10px;
  }
  .aboutTeam-wrapper {
    max-width: 300px;
    margin: auto;
    margin-bottom: 40px;
    text-align: center;
  }
}
