/* Contact
--------------------------------------------*/
#contact {
  background: #35a283 url("../img/bg_contact.jpg") center center no-repeat;
  background-size: cover;
  color: #fff;
  padding-top: 45px;
  padding-bottom: 65px;
  text-align: center;
}
#contact h2 {
  color: #fff;
}
#contact-sns-list {
  margin: 0;
  padding: 0;
}
#contact-sns-list li {
  display: inline-block;
  list-style-type: none;
  margin-right: 10px;
  margin-bottom: 15px;
}
.contact-sns-img {
  width: 35px;
  height: 35px;
}
#contact-form {
  padding-top: 50px;
  max-width: 500px;
  margin: auto;
}
.contact-input {
  margin-bottom: 20px;
  border-color: #77cab2;
  background-color: #2c715d;
  color: #fff;
}
.contact-input::-webkit-input-placeholder {
  color: #5dbba0;
}
.contact-input::-moz-placeholder {
  color: #5dbba0;
}
.contact-input:-ms-input-placeholder {
  color: #5dbba0;
}
.contact-input:-moz-placeholder {
  color: #5dbba0;
}
#contact-btn {
  background-color: #dc1767;
  border-color: #fff;
  color: #fff;
}
#contact-btn:hover {
  background-color: #35a283;
}
@media (min-width: 550px) {
  .contact-sns-img {
    width: 50px;
    height: 50px;
  }
}
