/* Contact
--------------------------------------------*/
.contact {
  background: #35a283 url("../img/bg_contact.jpg") center center no-repeat;
  background-size: cover;
  color: #fff;
  padding-top: 45px;
  padding-bottom: 65px;
  text-align: center;
}
.contact h2 {
  color: #fff;
}
.contact-snsList {
  margin: 0;
  padding: 0;
}
.contact-snsList li {
  display: inline-block;
  list-style-type: none;
  margin-right: 7px;
  margin-bottom: 15px;
}
.contact-snsImg {
  width: 35px;
  height: 35px;
}
.contact-form {
  padding-top: 50px;
  max-width: 500px;
  margin: auto;
}
.contact-input {
  margin-bottom: 20px;
  border-color: #77cab2;
  background-color: #2c715d;
  color: #fff;
}
.contact-input::-webkit-input-placeholder {
  color: #5dbba0;
}
.contact-input::-moz-placeholder {
  color: #5dbba0;
}
.contact-input:-ms-input-placeholder {
  color: #5dbba0;
}
.contact-input:-moz-placeholder {
  color: #5dbba0;
}
.contact-btn {
  background-color: #dc1767;
  border-color: #fff;
  color: #fff;
}
.contact-btn:hover {
  background-color: #35a283;
}
@media (min-width: 400px) {
  .contact-snsList li {
    margin-right: 10px;
  }
  .contact-snsImg-bcfChat {
    width: 50px !important;
    height: 50px !important;
  }
}
@media (min-width: 550px) {
  .contact-snsImg {
    width: 50px;
    height: 50px;
  }
  .contact-snsImg-bcfChat {
    width: 80px !important;
    height: 80px !important;
  }
}


/* Join the Chat
--------------------------------------------*/
.contactChat {
  background-color: #f6f6f6;
  padding-top: 50px;
  padding-bottom: 50px;
}
.contactChat-imgCol,
.contactChat-txtCol {
  padding-left: 10%;
  padding-right: 10%;
}
.contactChat-img {
  width: 240px;
  margin-bottom: 25px;
}
.contactChat-heading {
  text-align: left;
  margin-bottom: 20px;
}
.contactChat p {
  text-align: left;
}
.contactChat-btn {
  background-color: #dc1767;
  border-color: #fff;
  color: #fff;
  margin-top: 25px;
}
.contactChat-btn:hover {
  background-color: #35a283;
  color: #fff;
}
@media (min-width: 550px) {
  .contactChat-imgCol,
  .contactChat-txtCol {
    padding-left: 15%;
    padding-right: 15%;
  }
}
@media (min-width: 768px) {
  .contactChat-imgCol,
  .contactChat-txtCol {
    padding-left: 15%;
    padding-right: 15%;
  }
}
@media (min-width: 992px) {
  .contactChat-txtCol {
    padding-left: 10%;
    padding-right: 5%;
  }
  .contactChat-imgCol {
    padding-left: 0;
    padding-right: 10%;
  }
  .contactChat-img {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .contactChat-txtCol {
    padding-left: 13%;
    padding-right: 2%;
  }
  .contactChat-imgCol {
    padding-left: 4%;
    padding-right: 13%;
  }
}
