/* Donate Hero
--------------------------------------------*/
.donateHero {
  text-align: center;
  padding-top: 35px;
  padding-bottom: 35px;
}
.donateHero-lead {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
}
.donateHero-subhead {
  background-color: #2b5e4c;
  color: #fff;
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: center;
}
@media (min-width:768px) {
  .donateHero-subhead {
    padding-top: 50px;
    padding-bottom: 40px;
  }
}
@media (min-width:992px) {
  .donateHero-subhead p {
    width: 720px;
    margin: auto;
  }
}


/* Donate
--------------------------------------------*/
.donate {
  background-color: #35a283;
  background: #35a283 url("../img/bg_donate.jpg") center center no-repeat;
  background-size: cover;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 40px;
}
.donate h2 {
  color: #fff;
}
.donate-text {
  text-align: center;
  margin: 40px auto 30px auto;
}
.donate-qr {
  max-width: 200px;
  margin: auto;
}
.donate-address {
  background-color: #387b68;
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  border: 1px solid #fff581;
  color: #ffffff;
  margin: 40px auto 0 auto;
  border-radius: 4px;
  padding-top: 15px;
  padding-bottom: 15px;
  overflow-x: hidden;
}
@media (min-width: 550px) {
  .donate-text {
    margin: 40px 80px;
  }
  .donate-address {
    font-size: 14px;
    width: 70%;
  }
}
@media (min-width: 768px) {
  .donate {
    padding-top: 0;
  }
}
@media (min-width: 992px) {
  .donate-qr {
    max-width: 100%;
    margin-top: 45px;
  }
  .donate-address {
    font-size: 16px;
  }
  .donate-text,
  .donate h2 {
    text-align: left;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 15px;
  }
  .donate .border-white {
    margin-left: 0;
  }
  .donate-wrapper {
    width: 780px;
  }
}
