/* Donate
--------------------------------------------*/
.donate {
  background-color: #35a283;
  background: #35a283 url("../img/bg_donate.jpg") center center no-repeat;
  background-size: cover;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 40px;
}
.donate h2 {
  color: #fff;
}
.donate-text {
  text-align: center;
  margin: 40px auto 30px auto;
}
.donateQr-wrapper {
  margin-bottom: 35px;
}
.donate-qr {
  max-width: 200px;
  margin: auto;
}
.donateAddress {
  width: 100%;
  max-width: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: #e2e9da;
  border-image: initial;
  border-radius: 4px;
  background: #fcfbf9;
  display: flex;
  flex-direction: row;
}
.donateAddress-address {
  white-space: nowrap;
  overflow-x: hidden;
  font-family: monospace;
  font-weight: 500;
  color: #3f4f67;
  padding: 16px;
  display: flex;
  flex-direction: row;
}
.donateAddress-addressSpan {
  display: inline-block;
  font-family: Monaco, monospace;
  font-weight: 500;
  font-size: 14px;
  color: #205a47;
  overflow-x: hidden;
  padding-right: 16px;
}
.donateAddress-btn {
  margin-left: auto;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 0px 14px;
  border-left: 1px solid #dce9da;
  background: #fff;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: row;
}
.donateAddress-btn-success {
  background: #dc1767;
  transition: 750ms ease;
}
.donateAddress-btnInner {
  position: relative;
  z-index: 0;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: row;
}
.donateAddress-copyBtn {
  fill: #e4e4e4;
  cursor: pointer;
  opacity: 1;
  transition: fill 0.25s ease, opacity 0.5s ease;
}
.donateAddress-copyBtn:hover {
  fill: #379a71;
}
@media (min-width: 550px) {
  .donate-text {
    margin: 40px 80px;
  }
  .donateAddress {
    width: 80%;
    margin: auto;
  }
}
@media (min-width: 768px) {
  .donate {
    padding-top: 0;
  }
  .donateAddress {
    width: 70%;
  }
}
@media (min-width: 992px) {
  .donateQr-wrapper {
    margin-bottom: 50px;
  }
  .donate-qr {
    max-width: 100%;
    margin-top: 45px;
  }
  .donate-text,
  .donate h2 {
    text-align: left;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 15px;
  }
  .donate .border-white {
    margin-left: 0;
  }
  .donate-wrapper {
    width: 780px;
  }
  .donateAddress {
    width: 100%;
  }
}


/* Join the Chat
--------------------------------------------*/
.donateTrans {
  background-color: #f6f6f6;
  padding-top: 50px;
  padding-bottom: 50px;
}
.donateTrans-imgCol,
.donateTrans-txtCol {
  padding-left: 10%;
  padding-right: 10%;
}
.donateTrans-img {
  width: 240px;
  margin-bottom: 25px;
}
.donateTrans-heading {
  text-align: left;
  margin-bottom: 20px;
}
.donateTrans p {
  text-align: left;
}
.donateTrans-btn {
  background-color: #dc1767;
  border-color: #fff;
  color: #fff;
  margin-top: 25px;
}
.donateTrans-btn:hover {
  background-color: #35a283;
  color: #fff;
}
@media (min-width: 550px) {
  .donateTrans-imgCol,
  .donateTrans-txtCol {
    padding-left: 15%;
    padding-right: 15%;
  }
}
@media (min-width: 768px) {
  .donateTrans-imgCol,
  .donateTrans-txtCol {
    padding-left: 15%;
    padding-right: 15%;
  }
}
@media (min-width: 992px) {
  .donateTrans-txtCol {
    padding-left: 10%;
    padding-right: 5%;
  }
  .donateTrans-imgCol {
    padding-left: 0;
    padding-right: 10%;
  }
  .donateTrans-img {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .donateTrans-txtCol {
    padding-left: 13%;
    padding-right: 2%;
  }
  .donateTrans-imgCol {
    padding-left: 4%;
    padding-right: 13%;
  }
}
