/* FAQ Text
--------------------------------------------*/
.faqs-wrapper {
  margin-bottom: 50px;
}
.faqs-sectionHeading {
  background-color: #f6f6f6;
  text-align: center;
  margin: 0;
  margin-top: 60px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.faqs-sectionHeading:first-child {
  margin-top: 0px;
}
.faqs-qa {
  color: #35a283;
  font-weight: 700;
  margin-right: 1rem;
  margin-left: -34px;
}
.faqs-qa::after {
  content: ":"
}
.faqs-q {
  color: #5c7069;
  font-weight: 700;
  margin-left: 40px;
}
.faqs-a {
  margin-bottom: 2rem;
  margin-left: 40px;
}
@media (min-width: 768px) {
  .faqs-sectionHeading {
    padding-bottom: 40px;
  }
}
