/* Footer Container
------------------------------------------------------------- */
.footer-container {
  background-color: #35a283;
}
.footer-content {
  padding-top: 45px;
  padding-bottom: 15px;
}


/* Scroll To Top Button
------------------------------------------------------------- */
.footer-scrollTop {
  width: 100%;
  background-color: #2b916e;
  padding: 1rem;
}
.footer-scrollTop {
  color: #fff;
}
@media (min-width: 768px) {
  .footer-scrollTop {
    display: none;
  }
}


/* Columns
------------------------------------------------------------- */
.footer-col {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 30px;
}
@media (max-width: 991px) {
  .footer-col {
    text-align: center;
  }
}
@media (min-width: 992px) {
  .footer-col {
    float: left;
    margin-bottom: 30px;
  }
  .footer-explore {
    width: 14%;
  }
  .footer-info {
    width: 16%;
  }
  .footer-sns {
    width: 46%;
  }
  .footer-learn {
    width: 24%;
    text-align: right;
  }
  .footer-learn .footer-heading {
    text-align: right;
  }
}


/* Typography
------------------------------------------------------------- */
.footer-heading {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1;
  margin: 0.8rem 0 0.8rem 0; 
  color: #fff581;
  margin-bottom: 0.7rem;
  padding-bottom: 0;
}
.footer-linkList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.footer-linkList li {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  display: inline-block;
  margin-right: 0.3rem;
}
.footer-linkList,
.footer-linkList li,
.footer-linkList li a {
  color: #fff;
}
.footer-linkList li a {
  text-decoration: underline;
}
.footer-copyright p {
  color: #fff;
  font-size: 0.8rem;
}
@media (min-width: 992px) {
  .footer-heading {
    text-align: left;
    margin: 0.8rem 0 0.8rem 0; 
    padding-bottom: 0.6rem;
  }
  .footer-linkList {
    padding: 0;
    margin: 0;
  }
  .footer-linkList li {
    margin-bottom: 0.5rem;
    display: block;
    margin-right: 0;
  }
  .footer-linkList li a {
    text-decoration: none;
  }
  .footer-linkList li a:hover {
    text-decoration: underline;
  }
}


/* Social Icons
------------------------------------------------------------- */
.footer-snsIcon {
  margin-right: 15px;
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .footer-snsIcon {
    width: 32px;
  }
}


/* Contact Button
------------------------------------------------------------- */
.footer-contactBtn {
  color: #fff;
  background-color: #dc1767;
  border-color: #fff;
  padding: 10px 16px;
  width: 70%;
  max-width: 300px;
  font-size: 0.9rem;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.3;
}
.footer-contactBtn:hover {
  color: #fff;
  background-color: #35a283;
}


/* Footer Copyright Bar
------------------------------------------------------------- */
.footer-copyright {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #205a47;
}
.footer-copyright p {
  color: #70a490;
  font-size: 0.8rem;
  margin-bottom: 0;
  text-align: center;
}
