/* Forms
------------------------------------------------------------- */
.form-group label,
.form-inline label {
  display: none;
}
textarea,
input[type="text"],
input[type="submit"],
input[type="password"],
input[type="email"] {
  -webkit-appearance: none;
}
.alert {
  border-radius: 0 !important;
}
.form-control, .btn {
  /*border-radius: 0 !important;*/
}
.form-control:focus {
  border-color: #35a283;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 245, 129, 0.6);
  box-shadow:         inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 245, 129, 0.6);
}
