/* Hero
--------------------------------------------*/
.homeHero {
  padding: 0;
  text-align: center;
  position: relative;
}
.homeHero-title {
  font-size: 40px;
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: 20px;
}
.homeHero-img {
  margin: auto;
  margin-top: 35px;
  margin-bottom: 20px;
  width: 100%;
}
.homeHero-lead {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
  margin-bottom: 30px;
}
.homeHero-subhead {
  background-color: #35a283;
  color: #fff;
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: center;
}
@media (min-width: 550px) {
  .homeHero-img {
    margin-top: 15px;
  }
}
@media (min-width: 768px) {
  .homeHero-title {
    font-size: 50px;
    margin-bottom: 20px;
  }
  .homeHero-img {
    height: 309.469px;
    margin-top: 20px;
    margin-bottom: 35px;
  }
  .homeHero-lead {
    font-size: 30px;
  }
  .homeHero-subhead {
    padding-top: 50px;
    padding-bottom: 40px;
  }
}
@media (min-width:992px) {
  .homeHero-title {
    font-size: 60px;
  }
  .homeHero-img {
    height: 404.031px;
  }
  .homeHero-lead {
    font-size: 30px;
    margin-bottom: 50px;
  }
  homeHero-subhead p {
    width: 720px;
    margin: auto;
  }
}
@media (min-width: 1200px) {
  .homeHero-img {
    height: 490px;
  }
}

/* Bitcoin Cash
--------------------------------------------*/
.homeBch {
  background: #fff url("../img/bg_what_bch.jpg") center center no-repeat;
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 50px;
}
.homeBch-answer {
  margin: auto;
  text-align: center;
  margin-bottom: 30px;
}
.homeBch-businessIcon {
  width: 50px;
  height: 50px;
  margin-bottom: 5px;
}
@media (min-width: 992px) {
  .homeBch {
    padding-top: 30px;
    padding-bottom: 50px;
  }
  .homeBch-businessIcon {
    width: 60px;
    height: 60px;
    margin-bottom: 30px;
  }
}
@media (min-width: 1200px) {
  .homeBch-businessIcon {
    width: 75px;
    height: 75px;
    margin-bottom: 35px;
  }
  .homeBch-answer p {
    padding: 0 30px;
  }
}
@media (max-width: 991px) {
  .homeBch-answer {
    width: 40%;
  }
}
@media (max-width: 767px) {
  .homeBch-answer {
    width: 60%;
  }
}
@media (max-width: 549px) {
  .homeBch-answer {
    width: 80%;
  }
}


/* Mission
--------------------------------------------*/
.homeMission {
  background-color: #f6f6f6;
  color: #313131;
  padding-top: 30px;
  padding-bottom: 40px;
  text-align: center;
}
.homeMission-img {
  margin: auto;
}
.homeMission-lead {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 18px;
}
@media (min-width: 450px) {
  .homeMission {
    padding-bottom: 50px;
  }
  .homeMission-img {
    max-width: 370px;
  }
}
@media (min-width: 550px) {
  .homeMission p {
    margin-left: 60px;
    margin-right: 60px;
  }
}
@media (min-width: 992px) {
  .homeMission {
    padding-top: 60px;
    text-align: left;
  }
  .homeMission h2 {
    text-align: left;
    padding-top: 0;
  }
  .homeMission p {
    margin-left: 0;
    margin-right: 0;
  }
  .homeMission .border {
    margin-left: 0;
  }
}


/* How Can I help
--------------------------------------------*/
.homeHelp {
}
.homeHelp-section {
  margin-bottom: 90px;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
}
.homeHelp-sectionHeading {
  text-transform: none;
  font-size: 1.4rem;
  margin-bottom: 0.9rem;
}
.homeHelp-sectionImg {
  padding: 0 10%;
}
.homeHelp-sectionText {
  margin-bottom: 25px;
}
.homeHelp-sectionBtn {
  background-color: #dc1767;
  border-color: #fff;
  color: #fff;
}
.homeHelp-sectionBtn:hover {
  background-color: #35a283;
  color: #fff;
}
.homeHelp-proposalCol,
.homeHelp-volunteerCol,
.homeHelp-donateCol {
  padding-top: 20px;
}
@media (min-width: 550px) {
  .homeHelp-section {
    padding-left: 10%;
    padding-right: 10%;
  }
  .homeHelp-imageCol {
    padding-left: 5%;
    padding-right: 5%;
  }
  .homeHelp-proposalCol,
  .homeHelp-volunteerCol,
  .homeHelp-donateCol {
    padding-left: 15%;
    padding-right: 15%;
  }
}
@media (min-width: 768px) {
  .homeHelp-imageCol {
    padding-left: 15%;
    padding-right: 15%;
  }
}
@media (min-width: 992px) {
  .homeHelp-section {
    margin-bottom: 90px;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
  }
  .homeHelp-imageCol {
    padding-left: 0;
    padding-right: 0;
  }
  .homeHelp-proposalCol,
  .homeHelp-volunteerCol,
  .homeHelp-donateCol {
    padding-top: 20px;
  }
  .homeHelp-proposalCol,
  .homeHelp-donateCol {
    padding-left: 0;
    padding-right: 200px;
  }
  .homeHelp-volunteerCol {
    padding-right: 20px;
    padding-left: 200px;
  }
  .homeHelp-sectionHeading,
  .homeHelp-sectionText,
  .homeHelp-sectionBtn {
    text-align: left;
  }
  .homeHelp-imageCol {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (min-width: 1200px) {
  .homeHelp-section {
    margin-bottom: 70px;
  }
  .homeHelp-proposalCol,
  .homeHelp-volunteerCol,
  .homeHelp-donateCol {
    padding-top: 40px;
  }
  .homeHelp-proposalCol,
  .homeHelp-donateCol {
    padding-right: 200px;
  }
  .homeHelp-volunteerCol {
    padding-right: 10px;
    padding-left: 200px;
  }
}
