/* Desktop Navbar
------------------------------------------------------------- */
#color-bar {
  background-color: #fff581;
  height: 5px;
}
#navbar-md {
  background-color: #35a283;
}
#navbar-md-brand {
  display: inline;
  width: 280px;
  height: 66px;
  margin-top: 15px;
  margin-bottom: 15px;
}


/* Main Menu
------------------------------------------------------------- */
.navbar-md-list-wrapper {
  display: block;
  margin-top: 35px;
}
.navbar-md-list {
  list-style-type: none;
}
.navbar-md-list-item {
  font-family: 'Barlow', 'Arial';
  font-size: 1.1rem;
  font-weight: 400;
  text-transform: uppercase;
  list-style-type: none;
  display: inline-block;
  margin-left: 0.9rem;
}
.navbar-md-list-item,
.navbar-md-list-item a {
  position: relative;
  color: #fff;
  text-transform: uppercase;
}
.navbar-md-list-item a:hover,
.navbar-md-list-item a:focus {
  color: #fff;
  text-decoration: none;
}
@media(min-width: 1200px) {
  .navbar-md-list-item {
    font-size: 1.3rem;
    margin-left: 1.6rem;
  }
}
.navbar-md-list-item a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -6px;
  left: 0;
  background-color: #3bc59e;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 50ms ease-in;
  transition: all 50ms ease-in;
}
.navbar-md-list-item a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.navbar-md-list-item.active a {
  color: #fff;
}
.navbar-md-list-item.active a:before,
.navbar-md-list-item.active a:hover:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -6px;
  left: 0;
  background-color: #fff581;
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
