/* Proposal Hero
--------------------------------------------*/
.proposalHero {
  text-align: center;
  padding-top: 35px;
  padding-bottom: 35px;
}
.proposalHero-lead {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
}
.proposalHero-subhead {
  background-color: #2b5e4c;
  color: #fff;
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: center;
}
@media (min-width:768px) {
  .proposalHero-subhead {
    padding-top: 50px;
    padding-bottom: 40px;
  }
}
@media (min-width:992px) {
  .proposalHero-subhead p {
    width: 720px;
    margin: auto;
  }
}


/* Intro
--------------------------------------------*/
.proposalIntro {
  background-color: #f6f6f6;
  color: #555e5b;
  padding-top: 30px;
  padding-bottom: 40px;
  text-align: center;
}
.proposalIntro-imgCol {
  padding-left: 20%;
  padding-right: 20%;
}
.proposalIntro-txtCol {
  padding-left: 10%;
  padding-right: 10%;
}
.proposalIntro-img {
  margin: auto;
  margin-bottom: 15px;
}
.proposalIntro-lead {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 18px;
}
@media (min-width: 450px) {
  .proposalIntro {
    padding-bottom: 50px;
  }
  .proposalIntro-imgCol {
    padding-left: 25%;
    padding-right: 25%;
  }
  .proposalIntro-txtCol {
    padding-left: 10%;
    padding-right: 10%;
  }
  .proposalIntro-img {
    margin-bottom: 25px;
  }
}
@media (min-width: 550px) {
  .proposalIntro-imgCol {
    padding-left: 30%;
    padding-right: 30%;
  }
  .proposalIntro-txtCol {
    padding-left: 15%;
    padding-right: 15%;
  }
}
@media (min-width: 992px) {
  .proposalIntro {
    padding-top: 60px;
    text-align: left;
  }
  .proposalIntro-imgCol {
    padding-left: 5%;
    padding-right: 5%;
  }
  .proposalIntro-txtCol {
    padding-left: 0;
    padding-right: 5%;
  }
  .proposalIntro h2 {
    text-align: left;
    padding-top: 0;
  }
  .proposalIntro p {
    margin-left: 0;
    margin-right: 0;
  }
  .proposalIntro .border {
    margin-left: 0;
  }
}
@media (min-width: 1200px) {
  .proposalIntro-imgCol {
    padding-left: 10%;
  }
  .proposalIntro-txtCol {
    padding-right: 10%;
  }
}


/* Proposal Form
--------------------------------------------*/
.proposalForm {
  background: #35a283 url("../img/bg_contact.jpg") center center no-repeat;
  background-size: cover;
  color: #fff;
  padding-top: 45px;
  padding-bottom: 65px;
}
.proposalForm-txtCol {
  padding-bottom: 55px;
}
.proposalForm-input {
  margin-bottom: 20px;
  border-color: #77cab2;
  background-color: #2c715d;
  color: #fff;
}
.proposalForm-input::-webkit-input-placeholder {
  color: #5dbba0;
}
.proposalForm-input::-moz-placeholder {
  color: #5dbba0;
}
.proposalForm-input:-ms-input-placeholder {
  color: #5dbba0;
}
.proposalForm-input:-moz-placeholder {
  color: #5dbba0;
}
.proposalForm-heading {
  color: #fff;
  text-align: left;
  letter-spacing: 0;
  padding: 0;
  margin-left: 0;
  margin-bottom: 15px;
}
.proposalForm-heading {
  margin-top: 50px;
}
.proposalForm-heading:first-child {
  margin-top: 0;
}
.proposalForm-text {
  color: #fff;
  text-align: left;
  margin-bottom: 15px;
}
.proposalForm-list {
  padding-left: 20px;
}
.proposalForm-list>li {
  margin-bottom: 10px;
}
.proposalForm-list>li>a {
  color: #fff;
  text-decoration: underline;
}
.proposalForm-fieldsetHalf {
  width: 100%;
  float: left;
  padding: 0 10px;
}
.proposalForm-fieldset {
  min-width: 0;
  border-color: #70c7af;
  margin-bottom: 35px;
  text-align: left;
  padding-bottom: 0;
}
.proposalForm-fieldsetLegend {
  margin-bottom: 5px;
  color: #fff;
  text-align: left;
}
.proposalForm-checkbox label {
  color: #b2e4c7;
}
.proposalForm-btn {
  background-color: #dc1767;
  border-color: #fff;
  color: #fff;
  float: left;
}
.proposalForm-btn:hover {
  background-color: #35a283;
}
@media (min-width: 550px) {
  .proposalForm-txtCol {
    padding-left: 10%;
    padding-right: 10%;
  }
  .proposalForm-frmCol {
    padding-left: 10%;
    padding-right: 10%;
  }
}
@media (min-width: 768px) {
  .proposalForm-fieldsetHalf {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .proposalForm-txtCol {
    padding-left: 5%;
    padding-right: 0;
  }
  .proposalForm-frmCol {
    padding-left: 0;
    padding-right: 0;
  }
}


/* Proposal Form Errors
--------------------------------------------*/
#proposalForm-form>label.error {
  color: #d3d4c4;
  background-color: #5d3741;
}
#proposalForm-form>.form-control.error {
  border-color: #5d3741;
}
