/* Proposal Hero
--------------------------------------------*/
.proposalHero {
  text-align: center;
  padding-top: 35px;
  padding-bottom: 35px;
}
.proposalHero-img {
  margin: auto;
  margin-bottom: 45px;
}
.proposalHero-lead {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
}
.proposalHero-subhead {
  background-color: #2b5e4c;
  color: #fff;
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: center;
}
@media (min-width:768px) {
  .proposalHero-subhead {
    padding-top: 50px;
    padding-bottom: 40px;
  }
}
@media (min-width:992px) {
  .proposalHero-subhead p {
    width: 720px;
    margin: auto;
  }
}


/* Mission
--------------------------------------------*/
.proposalIntro {
  background-color: #35a283;
  color: #313131;
  padding-top: 30px;
  padding-bottom: 40px;
  text-align: center;
}
.proposalIntro h2 {
  color: #fff;
}
.proposalIntro-border {
  background-color: #76d0b6;
}
.proposalIntro p {
  color: #fff;
}
.proposalIntro-img {
  margin: auto;
}
.proposalIntro-lead {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 18px;
  color: #fff;
}
@media (min-width: 450px) {
  .proposalIntro {
    padding-bottom: 50px;
  }
  .proposalIntro-img {
    max-width: 370px;
  }
}
@media (min-width: 550px) {
  .proposalIntro p {
    margin-left: 60px;
    margin-right: 60px;
  }
}
@media (min-width: 992px) {
  .proposalIntro {
    padding-top: 60px;
    text-align: left;
  }
  .proposalIntro h2 {
    text-align: left;
    padding-top: 0;
  }
  .proposalIntro p {
    margin-left: 0;
    margin-right: 0;
  }
  .proposalIntro .border {
    margin-left: 0;
  }
}


/* Proposal Form
--------------------------------------------*/
.proposalForm {
  /*background: #35a283 url("../img/bg_contact.jpg") center center no-repeat;*/
  background-color: #e4e4e4;
  background-size: cover;
  color: #fff;
  padding-top: 45px;
  padding-bottom: 65px;
  text-align: center;
}
.proposalForm-input {
  margin-bottom: 20px;
  border-color: #ccc;
  background-color: #fff;
  color: #3c403f
}
.proposalForm-input::-webkit-input-placeholder {
  color: #bbb;
}
.proposalForm-input::-moz-placeholder {
  color: #bbb;
}
.proposalForm-input:-ms-input-placeholder {
  color: #bbb;
}
.proposalForm-input:-moz-placeholder {
  color: #bbb;
}
.proposalForm-heading {
  color: #555e5b;
  text-align: left;
  letter-spacing: 0;
  padding-top: 0;
  padding-bottom: 5px;
}
.proposalForm-text {
  color: #555e5b;
  text-align: left;
  margin-bottom: 15px;
  line-height: 1.6;
}
.proposalForm-fieldsetHalf {
  width: 100%;
  float: left;
  padding: 0 10px;
}
@media (min-width: 768px) {
  .proposalForm-fieldsetHalf {
    width: 50%;
  }
}
.proposalForm-fieldset {
  min-width: 0;
  border-color: #70c7af;
  margin-bottom: 35px;
  text-align: left;
  padding-bottom: 0;
}
.proposalForm-fieldsetLegend {
  margin-bottom: 5px;
  color: #fff;
  text-align: left;
}
.proposalForm-checkbox label {
  color: #b2e4c7;
}
.proposalForm-btn {
  background-color: #dc1767;
  border-color: #fff;
  color: #fff;
  float: left;
}
.proposalForm-btn:hover {
  background-color: #35a283;
}

