/* Basic Styles
--------------------------------------------*/
body {
  color: #555e5b;
  font-size: 18px;
}
p {
  margin-top: 0;
  margin-bottom: 10px;
}
a {
  color: #dc1767;
  text-decoration: underline;
}
a:hover {
  color: #35a283;
  text-decoration: underline;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 30px;
  letter-spacing: 3px;
  color: #000;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 40px;
  margin: 0 15px 30px 15px;
  padding-top: 20px;
  padding-bottom: 10px;
}
h3 {
  text-align: center;
  font-size: 2.4rem;
}
.border,
.border-white {
  background: none repeat scroll 0 0 #999;
  display: block;
  height: 2px;
  margin: 0 auto;
  width: 100px;
  margin-bottom: 40px;
}
.border {
  background: none repeat scroll 0 0 #999;
}
.border-white {
  background: none repeat scroll 0 0 #fff;
}
.keep-together {
  display: inline-block;
}
@media (min-width:768px) {
  h2 {
    margin: 0;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
/* Hero
--------------------------------------------*/
#hero {
  padding: 0;
  text-align: center;
  position: relative;
}
#hero-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: 20px;
}
#hero-lead {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
  margin-bottom: 30px;
}
#subhead {
  background-color: #35a283;
  color: #fff;
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: center;
}
@media (min-width:768px) {
  #hero-title {
    font-size: 50px;
    margin-bottom: 20px;
  }
  #hero-lead {
    font-size: 30px;
  }
  #subhead {
    padding-top: 50px;
    padding-bottom: 40px;
  }
}
@media (min-width:992px) {
  #hero-title {
    font-size: 60px;
  }
  #hero-lead {
    font-size: 30px;
    margin-bottom: 50px;
  }
  #subhead p {
    width: 720px;
    margin: auto;
  }
}
/* Bitcoin Cash
--------------------------------------------*/
#what-is-bch {
  background: #fff url("../img/bg_what_bch.jpg") center center no-repeat;
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 50px;
}
.what-bch-answer {
  margin: auto;
  text-align: center;
  margin-bottom: 30px;
}
.bch-business-icon {
  width: 50px;
  height: 50px;
  margin-bottom: 5px;
}
@media (min-width: 992px) {
  #what-is-bch {
    padding-top: 30px;
    padding-bottom: 50px;
  }
  .bch-business-icon {
    width: 60px;
    height: 60px;
    margin-bottom: 30px;
  }
}
@media (min-width: 1200px) {
  .bch-business-icon {
    width: 75px;
    height: 75px;
    margin-bottom: 35px;
  }
  .what-bch-answer p {
    padding: 0 30px;
  }
}
@media (max-width: 991px) {
  .what-bch-answer {
    width: 40%;
  }
}
@media (max-width: 767px) {
  .what-bch-answer {
    width: 60%;
  }
}
@media (max-width: 549px) {
  .what-bch-answer {
    width: 80%;
  }
}
/* Mission
--------------------------------------------*/
#mission {
  background-color: #e4e4e4;
  color: #313131;
  padding-top: 30px;
  padding-bottom: 40px;
  text-align: center;
}
#mission-img {
  margin: auto;
}
#mission-lead {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 18px;
}
@media (min-width: 450px) {
  #mission {
    padding-bottom: 50px;
  }
  #mission-img {
    max-width: 370px;
  }
}
@media (min-width: 550px) {
  #mission p {
    margin-left: 60px;
    margin-right: 60px;
  }
}
@media (min-width: 992px) {
  #mission {
    padding-top: 60px;
    text-align: left;
  }
  #mission h2 {
    text-align: left;
    padding-top: 0;
  }
  #mission p {
    margin-left: 0;
    margin-right: 0;
  }
  #mission .border {
    margin-left: 0;
  }
}
/* Donate
--------------------------------------------*/
#donate {
  background-color: #35a283;
  background: #35a283 url("../img/bg_donate.jpg") center center no-repeat;
  background-size: cover;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 40px;
}
#donate h2 {
  color: #fff;
}
.donate-text {
  text-align: center;
  margin: 40px auto 30px auto;
}
#donate-qr-code {
  max-width: 200px;
  margin: auto;
}
#donate-address {
  background-color: #387b68;
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  border: 1px solid #fff581;
  color: #ffffff;
  margin: 40px auto 0 auto;
  border-radius: 4px;
  padding-top: 15px;
  padding-bottom: 15px;
  overflow-x: hidden;
}
@media (min-width: 550px) {
  .donate-text {
    margin: 40px 80px;
  }
  #donate-address {
    font-size: 14px;
    width: 70%;
  }
}
@media (min-width: 768px) {
  #donate {
    padding-top: 0;
  }
}
@media (min-width: 992px) {
  #donate-qr-code {
    max-width: 100%;
    margin-top: 45px;
  }
  #donate-address {
    font-size: 16px;
  }
  .donate-text,
  #donate h2 {
    text-align: left;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 15px;
  }
  #donate .border-white {
    margin-left: 0;
  }
  #donate-wrapper {
    width: 780px;
  }
}
/* Subscribe
--------------------------------------------*/
#subscribe {
  background: #fff581;
  padding-bottom: 30px;
  text-align: center;
}
#MERGE0 {
  margin-bottom: 20px;
}
#subscribe-btn {
  background-color: #dc1767;
  border-color: #fff;
  color: #fff;
}
#subscribe-btn:hover {
  background-color: #35a283;
}
@media (min-width: 550px) {
  #subscribe {
    padding-top: 15px;
  }
  #MERGE0 {
    width: 370px;
    display: inline-block;
  }
}
@media (min-width: 768px) {
  #subscribe {
    padding-top: 5px;
    padding-bottom: 55px;
  }
  #MERGE0 {
    margin-bottom: 0;
  }
}
/* Team & Advisors
--------------------------------------------*/
#team {
  background: #e4e4e4 url("../img/bg_team.jpg") center center no-repeat;
  background-size: cover;
}
.team-wrapper {
  max-width: 250px;
  margin: auto;
  margin-bottom: 40px;
  text-align: center;
}
.team-photo {
  border-radius: 8px;
  max-width: 180px;
  margin: auto;
  margin-bottom: 10px;
}
.team-name {
  color: #000;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 16px;
}
.team-role {
  color: #35a283;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
  margin-top: -10px;
  margin-bottom: 10px;
}
.team-bio {
  font-size: 14px;
}
.team-social {
  font-size: 14px;
  margin-top: -6px;
}
.team-social a {
  text-decoration: none;
  
}
@media (min-width: 550px) {
  .team-photo {
    max-width: 225px;
    margin-bottom: 10px;
  }
  .team-wrapper {
    max-width: 300px;
    margin: auto;
    margin-bottom: 40px;
    text-align: center;
  }
}
/* Sponsors
--------------------------------------------*/
#sponsors {
  background-color: #fbfbfb;
  padding-top: 30px;
  padding-bottom: 40px;
}
#sponsors p {
  margin-bottom: 50px;
  text-align: center;
}
.sponsors-link {
  padding: 15px;
  width: 100%;
  display: block;
  background: #fff;
  border: 1px solid #eee;
  border-width: 1px 1px 3px 1px;
  text-align: center;
  margin-bottom: 36px;
  -webkit-transition: border-color 250ms ease;
     -moz-transition: border-color 250ms ease;
      -ms-transition: border-color 250ms ease;
       -o-transition: border-color 250ms ease;
          transition: border-color 250ms ease;
}
.sponsors-link:hover {
  border-bottom: 3px solid #35a283;
  border-bottom: 3px solid #dc1767;
}
.sponsors-link img {
  max-width: 100%;
}
@media (min-width: 550px) {
  #sponsors p {
    padding-left: 50px;
    padding-right: 50px;
  }
  .sponsors-link {
    padding: 20px 30px;
  }
  .sponsors-link img {
    max-width: 150px;
  }
}
@media (min-width: 768px) {
  .sponsors-link {
    padding: 25px 40px;
  }
  .sponsors-link img {
    max-width: 150px;
  }
}
@media (min-width: 992px) {
  #sponsors p {
    padding-left: 150px;
    padding-right: 150px;
  }
}
@media (min-width: 1200px) {
  #sponsors p {
    padding-left: 200px;
    padding-right: 200px;
  }
  .sponsors-link {
    padding: 20px 40px;
  }
  .sponsors-link img {
    max-width: 175px;
  }
}
/* Contact
--------------------------------------------*/
#contact {
  background: #35a283 url("../img/bg_contact.jpg") center center no-repeat;
  background-size: cover;
  color: #fff;
  padding-top: 45px;
  padding-bottom: 65px;
  text-align: center;
}
#contact h2 {
  color: #fff;
}
#contact-sns-list {
  margin: 0;
  padding: 0;
}
#contact-sns-list li {
  display: inline-block;
  list-style-type: none;
  margin-right: 10px;
  margin-bottom: 15px;
}
.contact-sns-img {
  width: 35px;
  height: 35px;
}
#contact-form {
  padding-top: 50px;
  max-width: 500px;
  margin: auto;
}
.contact-input {
  margin-bottom: 20px;
  border-color: #77cab2;
  background-color: #2c715d;
  color: #fff;
}
.contact-input::-webkit-input-placeholder {
  color: #5dbba0;
}
.contact-input::-moz-placeholder {
  color: #5dbba0;
}
.contact-input:-ms-input-placeholder {
  color: #5dbba0;
}
.contact-input:-moz-placeholder {
  color: #5dbba0;
}
#contact-btn {
  background-color: #dc1767;
  border-color: #fff;
  color: #fff;
}
#contact-btn:hover {
  background-color: #35a283;
}
@media (min-width: 550px) {
  .contact-sns-img {
    width: 50px;
    height: 50px;
  }
}
/* Footer
--------------------------------------------*/
#footer {
  background-color: #dadada;
  padding-top: 50px;
  padding-bottom: 30px;
}
#copyright {
  background-color: #545d5b;
  color: #acb7b1;
  text-align: center;
  font-size: 12px;
  padding-top: 15px;
  padding-bottom: 5px;
}
#footer-content {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.footer-img-link-border {
  margin-top: 50px;
}
.footer-img-link {
  display: block;
  margin: auto;
  margin-bottom: 30px;
  padding: 20px;
  width: 250px;
  background-color: #fff;
}
#footer-links-heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  color: #555e5b;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 20px;
}
#footer-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#footer-links li {
  margin-bottom: 10px;
}
@media (min-width: 550px) {
  #footer-content {
    width: 70%;
  }
}
@media (min-width: 1200px) {
  #footer-content {
    width: 450px;
  }
}
