/* Join the Chat
--------------------------------------------*/
.successChat {
  background-color: #f6f6f6;
  padding-top: 50px;
  padding-bottom: 50px;
}
.successChat-imgCol,
.successChat-txtCol {
  padding-left: 10%;
  padding-right: 10%;
}
.successChat-img {
  width: 240px;
  margin-bottom: 25px;
}
.successChat-heading {
  text-align: left;
  margin-bottom: 20px;
}
.successChat p {
  text-align: left;
}
.successChat-btn {
  background-color: #dc1767;
  border-color: #fff;
  color: #fff;
  margin-top: 25px;
}
.successChat-btn:hover {
  background-color: #35a283;
  color: #fff;
}
@media (min-width: 550px) {
  .successChat-imgCol,
  .successChat-txtCol {
    padding-left: 15%;
    padding-right: 15%;
  }
}
@media (min-width: 768px) {
  .successChat-imgCol,
  .successChat-txtCol {
    padding-left: 15%;
    padding-right: 15%;
  }
}
@media (min-width: 992px) {
  .successChat-txtCol {
    padding-left: 10%;
    padding-right: 5%;
  }
  .successChat-imgCol {
    padding-left: 0;
    padding-right: 10%;
  }
  .successChat-img {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .successChat-txtCol {
    padding-left: 13%;
    padding-right: 2%;
  }
  .successChat-imgCol {
    padding-left: 4%;
    padding-right: 13%;
  }
}
