/* Text Styles
--------------------------------------------*/
html, body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-size: 100%;
  font-weight: 400;
  line-height: 1.4;
  text-transform: none;
}
body {
  color: #555e5b;
  font-size: 16px;
}
p {
  margin-top: 0;
  margin-bottom: 10px;
}
a {
  color: #dc1767;
  text-decoration: none;
}
a:hover {
  color: #35a283;
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6, .h1,.h2, .h3, .h4, .h5, .h6 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.6rem;
  font-weight: 400;
  text-transform: uppercase;
}
h1 {
  font-size: 30px;
  line-height: 1.1;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto 2rem auto;
}
h2 {
  text-align: center;
  font-size: 30px;
  letter-spacing: 3px;
  color: #000;
  line-height: 40px;
  margin: 0 15px 30px 15px;
  padding-top: 20px;
  padding-bottom: 10px;
}
h3 {
  font-size: 1.4rem;
  margin: 0 auto 2rem auto;
}
h3 {
  text-align: center;
  font-size: 2.4rem;
}
@media (min-width:768px) {
  h1 {
    font-size: 35px;
    margin-bottom: 20px;
  }
  h2 {
    margin: 0;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media (min-width:992px) {
  h1 {
    font-size: 40px;
  }
}


/* HR Line
------------------------------------------------------------- */
.border,
.border-white {
  background: none repeat scroll 0 0 #999;
  display: block;
  height: 2px;
  margin: 0 auto;
  width: 100px;
  margin-bottom: 40px;
}
.border {
  background: none repeat scroll 0 0 #999;
}
.border-white {
  background: none repeat scroll 0 0 #fff;
}


/* Keep Together
Wrap a span with this class around
text you dont want to break
------------------------------------------------------------- */
.keep-together {
  display: inline-block;
}
