/* Volunteer Hero
--------------------------------------------*/
.volunteerHero {
  text-align: center;
  padding-top: 35px;
  padding-bottom: 35px;
}
.volunteerHero-lead {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
}
.volunteerHero-subhead {
  background-color: #2b5e4c;
  color: #fff;
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: center;
}
@media (min-width:768px) {
  .volunteerHero-subhead {
    padding-top: 50px;
    padding-bottom: 40px;
  }
}
@media (min-width:992px) {
  .volunteerHero-subhead p {
    width: 720px;
    margin: auto;
  }
}


/* Volunteer Form
--------------------------------------------*/
.volunteerForm {
  background-color: #f6f6f6;
  background-size: cover;
  color: #fff;
  padding-top: 45px;
  padding-bottom: 65px;
}
.volunteerForm-txtCol {
  padding-bottom: 30px;
}
.volunteerForm-input {
  margin-bottom: 20px;
  border-color: #ccc;
  background-color: #fff;
  color: #3c403f;
}
.volunteerForm-input::-webkit-input-placeholder {
  color: #bbb;
}
.volunteerForm-input::-moz-placeholder {
  color: #bbb;
}
.volunteerForm-input:-ms-input-placeholder {
  color: #bbb;
}
.volunteerForm-input:-moz-placeholder {
  color: #bbb;
}
.volunteerForm-heading {
  color: #555e5b;
  text-align: left;
  letter-spacing: 0;
  padding: 0;
  margin-left: 0;
  margin-bottom: 15px;
}
.volunteerForm-heading {
  margin-top: 50px;
}
.volunteerForm-heading:first-child {
  margin-top: 0;
}
.volunteerForm-text {
  color: #555e5b;
  text-align: left;
  margin-bottom: 15px;
  line-height: 1.6;
}
.volunteerForm-fieldsetHalf {
  width: 100%;
  float: left;
  padding: 0 10px;
}
.volunteerForm-fieldset {
  min-width: 0;
  border-color: #fff;
  margin-bottom: 35px;
  text-align: left;
  padding-bottom: 0;
}
.volunteerForm-fieldsetLegend {
  color: #555e5b;
  text-align: left;
  font-size: 18px;
  margin-bottom: 5px;
  padding-left: 7px;
  padding-right: 10px;
}
.volunteerForm-checkbox label {
  color: #555e5b;
}
.volunteerForm-btn {
  background-color: #dc1767;
  border-color: #fff;
  color: #fff;
  float: right;
}
.volunteerForm-btn:hover {
  background-color: #35a283;
}
@media (min-width: 550px) {
  .volunteerForm-txtCol {
    padding-left: 10%;
    padding-right: 10%;
  }
  .volunteerForm-frmCol {
    padding-left: 10%;
    padding-right: 10%;
  }
}
@media (min-width: 768px) {
  .volunteerForm-fieldsetHalf {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .volunteerForm-txtCol {
    padding-left: 0;
    padding-right: 5%;
  }
  .volunteerForm-frmCol {
    padding-left: 0;
    padding-right: 0;
  }
}


/* Volunteer Form Errors
--------------------------------------------*/
#volunteerForm-form>label.error {
  color: #fff;
  background-color: #af5069;
}
#volunteerForm-form>.form-control.error {
  border-color: #af5069;
}
